/*
  Created by IntelliJ IDEA.
  Author: hongxiaobin
  User: hongxiaobin
  Date: 2022/6/5
  Time: 13:20
  Description: 后台管理
*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e9eaeb;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.adtop {
    z-index: 999;
    width: 100%;
    background-color: #dcdcdc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.adtop p {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 8px;
    margin-left: 20px;
}

.adbottom {
    height: calc(100% - 46px);
    width: 150px;
    background-color: #7cbcb6;
    position: fixed;
    left: 0;
    top: 46px;
}

/*侧边栏*/
.adleft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='radio'] {
    display: none;
}

.adleft .adone label,
.adleft .adtwo label {
    text-align: center;
    line-height: 80px;
    width: 150px;
    height: 80px;
    font-size: 20px;
    letter-spacing: 4px;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#one:checked + label,
#two:checked + label {
    background-color: #e9eaeb;
    font-size: 22px;
}

.souye, .huiyuan {
    width: 1246px;
    height: 625px;
    top: 0;
    left: 150px;
    position: absolute;
}

.souye {
    display: none;
}

.huiyuan {
    display: block;
}

/*轮播图*/
.souye .box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.souye .box span {
    font-size: 18px;
    letter-spacing: 4px;
    margin-top: 10px;
    margin-left: 10px;
}

.souye .box .line {
    width: 98%;
    height: 1px;
    background-color: #333;
    margin-top: 5px;
    margin-left: 5px;
}

.souyeone {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.souyeoneleft {
    margin-right: 50px;
    width: 180px;
    height: 240px;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.souyeoneleft img {
    width: 100%;
}

.souyroneright {
    height: 220px;
}

.souyroneright form table {
    border-spacing: 5px;
    height: 90px;
}

.souyroneright form table tr td select {
    width: 80px;
}

.souyroneright form input[type='reset'] {
    margin-right: 10px;
}

.souyroneright form input[type='submit'],
.souyroneright form input[type='reset'] {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.souyroneright form input[type='submit']:hover,
.souyroneright form input[type='reset']:hover{
    background-color: #63a69f;
}
.souyetwo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.souyetwo ul li{
    list-style: none;
    float: left;
}
.souyetwo ul li .img{
    width: 286px;
    height: 130px;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;
}
.souyetwo ul li .img img{
    width: 100%;
}
/*会员管理*/
.huiyuan .top .select{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.third .top .select {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 14px;
    right: 30px;
}

.choose, .chooseinput, .button ,
.choose, .chooseinput1, .button {
    outline: none;
    height: 32px;
    background-color: #efefef;
}

.choose {
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: none;
    width: 100px;
    border-radius: 10px 0 0 10px;
    text-indent: 8px;
}

.chooseinput {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: none;
    border-right: none;
    width: 350px;
    text-indent: 8px;
}
.chooseinput1 {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left:  1px solid #333;
    border-right: none;
    width: 350px;
    text-indent: 8px;
    border-radius: 10px 0 0 10px;
}

.button {
    border-right: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: none;
    border-radius: 0 10px 10px 0;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.button #btnaa {
    font-size: 22px;
    color: #333;
}

.button:hover {
    background-color: #cacaca;
}
.seletc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.huiyuan .top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.huiyuan .top .seletc{
    margin-left: 20px;
}
.huiyuan .top .select{
    margin-right: 20px;
}
#selectc{
    margin-left: 5px;
    height: 20px;
    width: 100px;
    border-radius: 4px;
}
/*会员信息表*/
.table1{
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    width: 98%;
    height: 520px;
    margin: 0 auto;
    overflow-y: scroll;
}
.table111{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 12px;
    width: calc(98% - 16px);
    border: none !important;
}
.table111 tr td {
    border: none !important;
}
#table{
    width: 100%;
}
.table111 ,#table{
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-spacing: 0;
    text-align: center;
    vertical-align: center;
    word-break: break-word;
    word-wrap: break-word;
    table-layout: fixed;
}
#table tr td{
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 5px 0 5px 0;
}
#table tr td button{
    width: 60px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
#table tr td button:hover{
    background-color: #63a69f;
}