body {
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.progress .p-left {
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 4px;
}

.progress {
    margin-top: 10px;
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.progress .p-right {
    display: flex;
    flex-direction: column;
}

.progress .p-right .p-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress .p-right .p-top .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
}

.progress .p-right .p-top .bar {
    width: 80px;
    height: 4px;
}

.progress .p-right .p-top .circle:nth-child(2) {
    background-color: #caecb6;
}

.progress .p-right .p-top .circle:nth-child(5) {
    background-color: #7abd54;
}

.progress .p-right .p-top .circle:nth-child(8) {
    background-color: #ccc;
}

.progress .p-right .p-top .bar:nth-child(1),
.progress .p-right .p-top .bar:nth-child(3) {
    background-color: #caecb6;
}

.progress .p-right .p-top .bar:nth-child(4),
.progress .p-right .p-top .bar:nth-child(6) {
    background-color: #7abd54;
}

.progress .p-right .p-top .bar:nth-child(7),
.progress .p-right .p-top .bar:nth-child(9) {
    background-color: #ccc;
}

.progress .p-right .p-bottom span:nth-child(1) {
    color: #caecb6;
    margin-left: 40px;
}

.progress .p-right .p-bottom span:nth-child(2) {
    color: #7abd54;
    margin-left: 65px;
}

.progress .p-right .p-bottom span:nth-child(3) {
    color: #ccc;
    margin-left: 58px;
}

.progress .p-right .p-bottom {
    margin-top: 5px;
}

/*订单信息*/
.order .line {
    width: 98%;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 10px;
}

.order {
    margin-top: 10px;
    width: 82%;
}

.order .header {
    font-size: 18px;
    font-weight: 550;
}

.order .order-bottom {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order .order-bottom .box {
    width: 100%;
}

.order .order-bottom .box .f-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.order .order-bottom .box .f-top p {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 2px;
}

.order .order-bottom .box .f-top .f-top-right a {
    text-decoration: none;
    color: #005ea7;
    margin-right: 20px;
}

.order .order-bottom .box .f-top .f-top-right a:hover {
    color: #c81623;
    cursor: pointer;
}

.order .order-bottom .box .f-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
    margin-top: 10px;
}

.order .order-bottom .box .f-bottom > span,
.order .order-bottom .box .f-bottom > select {
    margin-right: 10px;
}

.order .order-bottom .box .f-bottom select:nth-child(2) {
    width: 100px;
    height: 24px;
}

.order .order-bottom .box .f-bottom select:nth-child(4) {
    width: 400px;
    height: 24px;
}

.order .order-bottom .box .f-bottom input {
    display: none;
}

.order .order-bottom .box .f-bottom label {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
}

.order .order-bottom .box .f-bottom label {
    margin-right: 20px;
}

.order .order-bottom .box .f-bottom input:checked + label {
    border: 2px solid #c81623;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.order .order-bottom .box .t-bottom {
    margin-left: 30px;
    margin-top: 10px;
}

.order .order-bottom .box .t-bottom ul li {
    list-style: none;
    float: left;
}

.order .order-bottom .box .t-bottom ul li .goods {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(243, 251, 254);
    margin-bottom: 10px;
    height: 150px;
}
.order .order-bottom .box .t-bottom ul li{
    width: 537px;
}
.order .order-bottom .box .t-bottom ul li:nth-child(odd) {
    margin-right: 10px;
}

.order .order-bottom .box .t-bottom ul li:nth-child(even) {
    margin-right: 30px;
}

.order .order-bottom .box .t-bottom ul li .goods .img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.order .order-bottom .box .t-bottom ul li .goods .img img {
    height: 100%;
}

.order .order-bottom .box .t-bottom ul li .goods .text {
    width: 200px;
    margin-left: 10px;
    text-indent: 8px;
    word-break: break-all;
    line-height: 26px;
    font-size: 14px;
}

.order .order-bottom .box .t-bottom ul li .goods .price {
    font-size: 20px;
    color: #c81623;
    font-weight: 550;
    margin-left: 52px;
}

.order .order-bottom .box .t-bottom ul li .goods .num {
    margin-left: 20px;
    font-size: 18px;
    margin-right: 20px;
}

/*统计信息*/
.order-statistical {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-top: 20px;
}

.order-statistical table tr td {
    font-size: 18px;
}

.order-statistical table tr:nth-child(2) td {
    padding-top: 10px;
}
.order-message{
    margin-top: 20px;
    width: 82%;
    background-color: rgb(244,244,244);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: 1px solid #e6e6e6;
}
.order-message .f span:first-child{
    font-size: 18px;
}
.order-message .f{
    margin-top: 20px;
    margin-right: 20px;
}
.order-message .s{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.order-message .f span:last-child{
    font-size: 20px;
    color: #c81623;
    font-weight: 600;
}
.order-message .s span:nth-child(3){
    margin-left: 10px;
}
.order-message .s span{
    font-size: 16px;
}
.submit{
    width: 82%;
    display: flex;
    justify-content: flex-end;
}
.submit button{
    width: 135px;
    height: 36px;
    line-height: 36px;
    margin: 8px 10px 60px 0;
    padding: 0;
    background-color: #ff0013;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
}
.submit button:hover{
    transform: scale(1.1);
}
